CODIGO/Fase2/App_WebReferences/WebServerjava/WebService_Practica1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Practica/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WebService_Practica1" targetNamespace="http://Practica/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/Ws_practica1/WebService_Practica1?xsd=1" namespace="http://Practica/" />
    </xsd:schema>
  </types>
  <message name="agregar_libro">
    <part name="parameters" element="tns:agregar_libro" />
  </message>
  <message name="agregar_libroResponse">
    <part name="parameters" element="tns:agregar_libroResponse" />
  </message>
  <message name="agregar_autor">
    <part name="parameters" element="tns:agregar_autor" />
  </message>
  <message name="agregar_autorResponse">
    <part name="parameters" element="tns:agregar_autorResponse" />
  </message>
  <message name="agregar_estudiante">
    <part name="parameters" element="tns:agregar_estudiante" />
  </message>
  <message name="agregar_estudianteResponse">
    <part name="parameters" element="tns:agregar_estudianteResponse" />
  </message>
  <portType name="WebService_Practica1">
    <operation name="agregar_libro">
      <input wsam:Action="http://Practica/WebService_Practica1/agregar_libroRequest" message="tns:agregar_libro" />
      <output wsam:Action="http://Practica/WebService_Practica1/agregar_libroResponse" message="tns:agregar_libroResponse" />
    </operation>
    <operation name="agregar_autor">
      <input wsam:Action="http://Practica/WebService_Practica1/agregar_autorRequest" message="tns:agregar_autor" />
      <output wsam:Action="http://Practica/WebService_Practica1/agregar_autorResponse" message="tns:agregar_autorResponse" />
    </operation>
    <operation name="agregar_estudiante">
      <input wsam:Action="http://Practica/WebService_Practica1/agregar_estudianteRequest" message="tns:agregar_estudiante" />
      <output wsam:Action="http://Practica/WebService_Practica1/agregar_estudianteResponse" message="tns:agregar_estudianteResponse" />
    </operation>
  </portType>
  <binding name="WebService_Practica1PortBinding" type="tns:WebService_Practica1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="agregar_libro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregar_autor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregar_estudiante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WebService_Practica1">
    <port name="WebService_Practica1Port" binding="tns:WebService_Practica1PortBinding">
      <soap:address location="http://localhost:8080/Ws_practica1/WebService_Practica1" />
    </port>
  </service>
</definitions>