CODIGO/Fase2/App_WebReferences/Wservicio/Ws_2017.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Servicio/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Ws_2017" targetNamespace="http://Servicio/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/Proyecto_2017/Ws_2017?xsd=1" namespace="http://Servicio/" />
    </xsd:schema>
  </types>
  <message name="login_operario">
    <part name="parameters" element="tns:login_operario" />
  </message>
  <message name="login_operarioResponse">
    <part name="parameters" element="tns:login_operarioResponse" />
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="Hello_prueba">
    <part name="parameters" element="tns:Hello_prueba" />
  </message>
  <message name="Hello_pruebaResponse">
    <part name="parameters" element="tns:Hello_pruebaResponse" />
  </message>
  <message name="login_cliente">
    <part name="parameters" element="tns:login_cliente" />
  </message>
  <message name="login_clienteResponse">
    <part name="parameters" element="tns:login_clienteResponse" />
  </message>
  <portType name="Ws_2017">
    <operation name="login_operario">
      <input wsam:Action="http://Servicio/Ws_2017/login_operarioRequest" message="tns:login_operario" />
      <output wsam:Action="http://Servicio/Ws_2017/login_operarioResponse" message="tns:login_operarioResponse" />
    </operation>
    <operation name="hello">
      <input wsam:Action="http://Servicio/Ws_2017/helloRequest" message="tns:hello" />
      <output wsam:Action="http://Servicio/Ws_2017/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="Hello_prueba">
      <input wsam:Action="http://Servicio/Ws_2017/Hello_pruebaRequest" message="tns:Hello_prueba" />
      <output wsam:Action="http://Servicio/Ws_2017/Hello_pruebaResponse" message="tns:Hello_pruebaResponse" />
    </operation>
    <operation name="login_cliente">
      <input wsam:Action="http://Servicio/Ws_2017/login_clienteRequest" message="tns:login_cliente" />
      <output wsam:Action="http://Servicio/Ws_2017/login_clienteResponse" message="tns:login_clienteResponse" />
    </operation>
  </portType>
  <binding name="Ws_2017PortBinding" type="tns:Ws_2017">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="login_operario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Hello_prueba">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="login_cliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Ws_2017">
    <port name="Ws_2017Port" binding="tns:Ws_2017PortBinding">
      <soap:address location="http://localhost:8080/Proyecto_2017/Ws_2017" />
    </port>
  </service>
</definitions>